body
{
    text-align: center;
    font-family: "Arial";
    color: blue;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background:rgb(29, 117, 63);
    color: seashell;
    box-shadow: opx 2px 50px 0px rgb(38, 29, 117);
    margin: 0;
    padding: 0.5 em;
    font-weight: bold;

}
#cabecera #tagline
{
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8 em;
}
#container
{
    width: 70%;
    padding: 1 em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;

}
#container h1
{
    font-size: 20px;

}
#post
{
    padding: 1em;
}